<div  style="text-align: center;">

    <mat-card>
        <h2>Age groups</h2>
        <div class="row" style="text-align: center;">
    
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
                <img src="../../../assets/kids/kid1.jpeg" alt="kid" class="round-img">
                <p>8 months - 1.5 yrs <br>Baby sitting</p>
            </div>
        
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
                <img src="../../../assets/kids/kid2.jpeg" alt="kid" class="round-img">
                <p>1.5 yrs - 10 yrs <br> Day care</p>
            </div>
        
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
                <img src="../../../assets/kids/kid3.jpeg" alt="kid" class="round-img">
                <p>2 yrs - 3 yrs <br> Play group</p>
            </div>
        
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
                <img src="../../../assets/kids/kid4.jpeg" alt="kid" class="round-img">
                <p>3 yrs - 4 yrs <br> Nursery</p>
            </div>
        
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
                <img src="../../../assets/kids/kid5.jpeg" alt="kid" class="round-img">
                <p>4 yrs - 5 yrs <br> KG 1</p>
            </div>
        
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2">
                <img src="../../../assets/kids/kid6.jpeg" alt="kid" class="round-img">
                <p>5 yrs - 6 yrs <br> KG 2</p>
            </div>
        
        </div>
    </mat-card>
</div>



<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
