p, h2 {
    font-family: 'Calibri', cursive; /* Playful, bubbly font */
    font-size: 1.25rem; /* Larger font for emphasis */
    background: linear-gradient(90deg, #822023, #ba6b55, #f39d86, #c56eac, #402286);
    -webkit-background-clip: text;
    color: transparent; /* Make text background gradient visible */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add a light shadow */
    animation: rainbow 3s ease infinite;
  }
  
  @keyframes rainbow {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
  }

  mat-card{
    background-color: #9874c326;
    width: 99%;
  }

  h2{
    font-weight: bold
  }

  .round-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
  }
