<!-- header.component.html -->
<div class="container-fluid top-bar">
    <p style="padding-left: 5rem;font-weight: bold;">Raslok Hospital Road
        Thavakkara,Kannur</p>
</div>
<div class="container shadower">
    <mat-toolbar>
        <img src="assets/logo-full.png" alt="Joyful Juniors" class="logo">
        <span class="spacer"></span>
        <button class="menu-button" routerLink="/">Home</button>
        <button class="menu-button" routerLink="/about">About Us</button>
        <button class="menu-button" routerLink="/facilities">Facilities</button>
        <button class="menu-button" routerLink="/affiliations">Affliations</button>
        <button class="menu-button" routerLink="/blogs">Blogs</button>
        <button class="menu-button" routerLink="/gallery">Gallery</button>
        <button class="menu-button" routerLink="/faqs">FAQs</button>
        <button class="menu-button" routerLink="/contact">Contact Us</button>
    </mat-toolbar>
</div>

<app-social-media></app-social-media>
<!-- <app-background></app-background> -->
<div class="container" style="height: 75vh;padding-top: 2rem;">

    <carousel [slideList]="slides" [animationType]="animationType"></carousel>

</div>


