/* header.component.scss */
mat-toolbar {
  position: relative;
  height: 8.1rem;
}

.spacer {
  flex: 1 1 auto;
}


.mat-toolbar {
  background-color: white;
  /* border-bottom: solid 1px rgb(232, 232, 232); */
}

.menu-button {
  /* background-color: var(--primary-color); */
  color: black;
  padding: 1.5rem;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem;
}

.menu-button:hover {
  background-color: var(--primary-color-dark);
  /* Darker background color on hover */
  color: var(--secondary-color-light);
  /* Darker text color on hover */
}

.top-bar {
  height: 2rem;
  background-color: var(--secondary-color);
  width: 100%;
  color: var(--primary-color);
  vertical-align: middle;
  padding-top: .5rem;
}

.logo {
  height: 8rem;

}

app-background {
  position: fixed;
  top: 5rem;
  z-index: 0;
}

.shadower{
  margin-top: 1rem;
  background-color: white;
}

.container.shadower {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  border-radius: 5px; /* Optional: Add some rounded corners */
}

