<div class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
        <div *ngIf="i === currentSlide" class="slide-container">
            <div class="text-overlay">
                <p *ngIf="slide.headline" class="slide" [@slideAnimation]="animationType"  [ngStyle]="{ 'font-size': isMobile ? '1rem' : '2rem' }">{{ slide.headline }}</p>
                <p [ngStyle]="{ 'font-size': isMobile ? '1rem' : '3rem' }">{{ slide.text }}</p>
            </div>
            <img *ngIf="i === currentSlide" [src]="slide.src" class="slide" />
        </div>
    </ng-container>

    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
    </button>
</div>