<!-- carousel -->
<div class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
        <div *ngIf="i === currentSlide" class="slide-container">
            <div class="text-overlay">
                <p *ngIf="slide.headline" class="slide" [@slideAnimation]="animationType">{{ slide.headline }}</p> <!-- Display the headline if present -->
                <p style="height: 12px;">{{ slide.text }}</p> <!-- Display the text -->
            </div>
            <img *ngIf="i === currentSlide" [src]="slide.src" class="slide" [@slideAnimation]="animationType" />
        </div>
    </ng-container>

    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
    </button>
</div>