<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2>About Us</h2>
            <div style="display: flex; align-items: center;">
              <img src="assets/logo-footer.png" alt="Logo" style="height: 50px; margin-right: 15px;">
              <p style="text-align: justify;padding-right: 1rem;">
                Your description here. Tell something about your website or company. This paragraph will now be justified, ensuring the text aligns both to the left and right margins.
              </p>
            </div>
          </div>
  
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <!-- <li><a href="#">Services</a></li> -->
          <li><a href="./">Contact</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
  
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p><i class="fas fa-phone"></i> +91-6282634785</p>
        <p><i class="fas fa-phone"></i> +91-8921598779</p>
        <p><i class="fas fa-envelope"></i> info.joyfuljuniors&#64;gmail.com</p>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2024 Joyful Juniors | All Rights Reserved | Designed by George Poyilil</p>
    </div>
  </footer>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
