<div class="container">
    <h2>Services Offered</h2>
    <div class="facilities-container">
        <ul class="facilities-list">
            <li><i class="fas fa-video"></i> CCTV Surveillance</li>
            <li><i class="fas fa-mobile-alt"></i> Parents app for latest updates from school</li>
            <li><i class="fas fa-snowflake"></i> AC classrooms</li>
            <li><i class="fas fa-chalkboard-teacher"></i> Well trained teachers</li>
            <li><i class="fas fa-clock"></i> Daycare with flexible timing</li>
            <li><i class="fas fa-shopping-cart"></i> Drop and shop facility</li>
            <li><i class="fas fa-paint-brush"></i> Drawing and Dance classes for all age groups</li>
        </ul>
    </div>

    <div class="image-gallery">
        <img src="assets/classes/class1.png" alt="Image 1" class="gallery-image">
        <img src="assets/classes/class2.png" alt="Image 2" class="gallery-image">
        <img src="assets/classes/class3.png" alt="Image 3" class="gallery-image">
        <img src="assets/classes/class4.png" alt="Image 4" class="gallery-image">
    </div>

    <div style="text-align:center; padding-bottom: 1rem;">
        <img src="assets/kreedo.png" class="kreedo">
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">