
  <div class="sticky-icons">
    <div class="icon-wrapper whatsapp">
      <img src="assets/icons/whatsapp.png" alt="WhatsApp">
      <span class="icon-label">WhatsApp</span>
    </div>
    <div class="icon-wrapper facebook">
      <img src="assets/icons/facebook.png" alt="Facebook">
      <span class="icon-label">Facebook</span>
    </div>
    <div class="icon-wrapper instagram">
      <img src="assets/icons/instagram.png" alt="Instagram">
      <span class="icon-label">Instagram</span>
    </div>
  </div>
  

  <a href="https://www.flaticon.com/free-icons/"></a>
  